@tailwind base;
@tailwind components;
@tailwind utilities;

div[class*="confetti-explosion"] {
    z-index: -10;
    opacity: .5;
}


#overlayContent h2:first-of-type,
#overlayContent hr:first-of-type {
    display: none;
}

img[src="https://raw.githubusercontent.com/XRPL-Labs/Help-Center/main/.gitbook/assets/Support banner Xumm.png"] {
    display: none;
}